body{
    top: 0%;
    bottom: 0;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

footer{
    top: 0%;
    margin-bottom: -100%;
}

.sessao_titulo{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
}
.ango{
    max-width: 960px;
    margin: auto 0;
}
.redes{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10px;
}
h4{
    color: chocolate;
}
.info{
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}
.ango_titulo{
    padding-top: 10px;
    text-align: center;
    color: #000;
}
.ango_descricao{
    text-align: center;
}
.ango_{
    border: none;
    background-color:blue;
    width: 200px;
    height: 3px;
    margin: 10px auto;
}
.redes_{
    border: none;
    background-color: #000;
    width: 159px;
    height: 3px;
    margin: 10px auto;
}
#ango_cat :hover{
    background-color: yellow;
    color: yellow;
}
.card_descricao{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ango_1{
    border: none;
    background-color: #000;
    width: 200px;
    height: 3px;
    margin: 10px auto;
}
.ango_2{
    border: none;
    background-color: #000;
    width: 200px;
    height: 3px;
    margin: 10px auto;
}
.ango_3{
    border: none;
    background-color: #000;
    width: 200px;
    height: 3px;
    margin: 10px auto;
}
.mobile-menu-icon{
    display: none;
}
@media screen and (max-width: 730px) {
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.link_cozinha{
    text-decoration: none;
    list-style: none;
    color: black;
}
.link_sala{
    list-style: none;
    color: green;
    text-decoration: none;
}
.link_quarto{
    list-style: none;
    color: rgb(76, 76, 248);
    text-decoration: none;
}
.link_escritorio{
    list-style: none;
    color: orange;
    text-decoration: none;
}
.link_wc{
    list-style: none;
    color: red;
    text-decoration: none;
}
.test{
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

